.machine-learning-with {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
}
.frame-child3,
.frame-child4,
.rectangle-icon {
  height: 100%;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 341px;
  max-height: 100%;
  object-fit: contain;
}
.frame-child3,
.frame-child4 {
  left: 618px;
}
.frame-child4 {
  left: 931px;
}
.neural-networks {
  width: 167px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.frame-child5 {
  height: 100%;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 1209px;
  max-height: 100%;
  object-fit: contain;
}
.k-means-clustering {
  width: 194px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.frame-child6 {
  height: 100%;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 1513px;
  max-height: 100%;
  object-fit: contain;
}
.nlp {
  width: 41px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.frame-child7 {
  height: 100%;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 1665px;
  max-height: 100%;
  object-fit: contain;
}
.html5-css3 {
  height: 28px;
  width: 144px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.frame-child8 {
  height: 100%;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 1528px;
  bottom: 0;
  max-height: 100%;
  object-fit: contain;
}
.rnn-cnn {
  width: 103px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.frame-child9 {
  height: 100%;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 1315px;
  bottom: 0;
  max-height: 100%;
  object-fit: contain;
}
.sentiment-analysis {
  width: 191px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.frame-child10 {
  height: 100%;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 1013px;
  bottom: 0;
  max-height: 100%;
  object-fit: contain;
}
.data-pre-processing {
  height: 28px;
  width: 204px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.frame-child11 {
  height: 100%;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 697px;
  bottom: 0;
  max-height: 100%;
  object-fit: contain;
}
.javascript {
  width: 112px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.frame-child12 {
  height: 100%;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 474px;
  bottom: 0;
  max-height: 100%;
  object-fit: contain;
}
.nodejs-with-mysql {
  width: 363px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.frame-child13 {
  height: 100%;
  width: 32px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  object-fit: contain;
}
.machine-learning-with-python-parent,
.skill-instance {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.machine-learning-with-python-parent {
  width: 3481px;
  justify-content: space-between;
  padding: var(--padding-11xs) var(--padding-52xl) var(--padding-11xs) 0;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  max-width: 387%;
  gap: var(--gap-xl);
}
.skill-instance {
  width: 900px;
  overflow: hidden;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1425px) {
  .machine-learning-with-python-parent {
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .data-pre-processing,
  .html5-css3,
  .javascript,
  .k-means-clustering,
  .machine-learning-with,
  .neural-networks,
  .nlp,
  .nodejs-with-mysql,
  .rnn-cnn,
  .sentiment-analysis {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
}
